.flashit {
  -webkit-animation: flash linear 8s infinite;
  animation: flash linear 8s infinite;
}

.flashitFull {
  -webkit-animation: flashFull linear 8s infinite;
  animation: flashFull linear 8s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  1% {
    opacity: .5;
  }
  2% {
    opacity: 1;
  }
  3% {
    opacity: .5;
  }
  4%, 100% {
    opacity: 1;
  }
}

@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  1% {
    opacity: .5;
  }
  2% {
    opacity: 1;
  }
  3% {
    opacity: .5;
  }
  4%, 100% {
    opacity: 1;
  }
}

@keyframes flashFull {
  0% {
    opacity: 1;
  }
  1% {
    opacity: .1;
  }
  2% {
    opacity: 1;
  }
  3% {
    opacity: .1;
  }
  4%, 100% {
    opacity: 1;
  }
}

@-webkit-keyframes flashFull {
  0% {
    opacity: 1;
  }
  1% {
    opacity: .1;
  }
  2% {
    opacity: 1;
  }
  3% {
    opacity: .1;
  }
  4%, 100% {
    opacity: 1;
  }
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

