@import "variables";

* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	-webkit-text-size-adjust: 100%;
}
html {
	width: 100%;
	-webkit-text-size-adjust: 100%;
}
h1 {
	margin: 0;
	padding: 0;
	line-height: 1;
}
h2 {
	margin: 0;
	padding: 0;
	line-height: 1;
}
h3 {
	margin: 0;
	padding: 0;
	line-height: 1;
}
h4 {
	margin: 0;
	padding: 0;
	line-height: 1;
}
h5 {
	margin: 0;
	padding: 0;
	line-height: 1;
}
h6 {
	margin: 0;
	padding: 0;
	line-height: 1;
}
p {
	margin: 0;
	padding: 0;
	line-height: 1;
}
.unit5 {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
	.slick-list {
		height: 100%;
	}
	.slick-track {
		height: 100%;
	}
	.slider {
		height: 100%;
	}
	/*to right side */
	.bg-trans-animation-red-right {
		width: 100%;
		height: 100%;
		background: #e20c18;
		position: absolute;
		z-index: 8;
		left:0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: hidden;
		transition: all .8s cubic-bezier(.77, 0, .175, 1);
		transition-delay: .1s;
	}
	.a-about-active-right{
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		transition: all .8s cubic-bezier(.19, 1, .22, 1) !important;
	}

	.white-bg {
		background: #efefef;
		opacity: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		position: absolute;
		display: table;
		top: 0;
	}

	.white-bg.activated {
		opacity: 1;
		visibility: visible;
		transition: opacity .5s 0s,visibility .5s 0s;
		-webkit-transition: opacity .5s 0s,visibility .5s 0s;
		-moz-transition: opacity .5s 0s,visibility .5s 0s;
	}

	.about-right{
		width: 100%;
		height: 100%;
		background: #efefef;
		position: absolute;
		z-index: 8;
		left:0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
		visibility: hidden;
		transition: all .8s cubic-bezier(.77, 0, .175, 1);
		transition-delay: .1s;
	}
	.about-active-right{
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		transition: all .8s cubic-bezier(.19, 1, .22, 1) !important;
	}
	/* to left side */
	.bg-trans-animation-red-left {
		width: 100%;
		height: 100%;
		background: #e20c18;
		position: absolute;
		z-index: 8;
		left:0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: hidden;
		transition: all .8s cubic-bezier(.19, 1, .22, 1);
		transition-delay: .1s;
	}
	.about-left{
		width: 100%;
		height: 100%;
		background: #efefef;
		position: absolute;
		z-index: 9;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
		visibility: hidden;
		transition: all .8s cubic-bezier(.19, 1, .22, 1);
		transition-delay: .1s;
		overflow: hidden;
	}
	.about-active-left{
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		transition: all .8s cubic-bezier(.77, 0, .175, 1) !important;
	}
	.a-about-active-left{
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		transition: all .8s cubic-bezier(.19, 1, .22, 1) !important;
	}
	/* end animation */
	.slide {
		.wrapper {
			width: 1240px;
			height: auto;
			display: table;
			margin: 0 auto;
			position: relative;
			.to_rev_slide {
				width: 101px;
				height: 13px;
				display: block;
				position: relative;
				cursor: pointer;
				margin: 1.4vh auto 1.1vh;
				background-image: url(../img/c3_to_top_black.svg);
				background-repeat: no-repeat;
			}
			h1 {
				background-image: url(../img/h1_texture_6.jpg);
				background-repeat: repeat;
				background-position: center center;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-size: 10rem;
				font-weight: bold;
				color: @color_1;
				text-align: center;
				font-family: @font_family_2;
			}
			p.header_undertext {
				font-family: @font_family_2;
				font-weight: 300;
				font-style: normal;
				font-size: 2rem;
				color: @color_2;
				text-align: center;
				margin-top: 1.2vh;
				line-height: 1.4;
			}
		}
		.left-info-block {
			position: relative;
			display: inline-table;
			float: left;
			width: 65%;
			height: 100%;
			min-width: 800px;
			.wrapper {
				width: 815px;
				position: relative;
				float: right;
				margin-top: 170px;
				margin-right: 85px;
				.prev_slide_text {
					width: auto;
					position: relative;
					display: table;
					cursor: pointer;

					.year_big {
						font-size: 15rem;
						line-height: 1;
						font-family: @font_family_2;
						font-weight: 900;
						font-style: normal;
						float: left;
						width: 100%;

						span {
							font-size: 2rem;
							color: @color_3;
						}
					}
					.year {
						font-size: 120px;
						line-height: 1;
						font-family: @font_family_2;
						font-weight: 900;
						font-style: normal;
						float: left;
					}
					.year_name {
						font-size: 70px;
						line-height: 1;
						font-family: @font_family_2;
						font-weight: 900;
						font-style: normal;
						margin-top: -2px;
					}
					.year_name2 {
						font-size: 30px;
						line-height: 1;
						font-family: @font_family_2;
						font-weight: 900;
						font-style: normal;
						margin-top: 9px;
					}
				}
				.prev_slide_info_text {
					margin-top: 5vh;
					font-size: 1.8rem;
					font-family: @font_family_2;
					font-weight: 100;
					p {
						line-height: 1.8;
					}
				}
			}
		}
		.right-info-block {
			position: relative;
			display: inline-table;
			float: right;
			width: 35%;
			height: 100%;
			min-width: 520px;
			.wrapper {
				width: 520px;
				position: relative;
				float: left;
				margin-top: 170px;
				.next_slide_text {
					width: 100%;
					cursor: pointer;
					.year {
						font-size: 120px;
						line-height: 1;
						font-family: @font_family_2;
						font-weight: 900;
						font-style: normal;
						float: left;
					}
					.year_big {
						font-size: 15rem;
						line-height: 1;
						font-family: @font_family_2;
						font-weight: 900;
						font-style: normal;
						float: left;
						width: 100%;

						span {
							font-size: 2rem;
							color: @color_3;
						}
					}
					.year_name {
						font-size: 70px;
						line-height: 1;
						font-family: @font_family_2;
						font-weight: 900;
						font-style: normal;
						margin-top: -2px;
					}
					.year_name2 {
						font-size: 30px;
						line-height: 1;
						font-family: @font_family_2;
						font-weight: 900;
						font-style: normal;
						margin-top: 9px;
						span {
							color: @color_3;
							margin-left: 10px;
							font-size: 25px;
						}
					}
				}
				.next_slide_text.normal_cursor {
					cursor: initial;
				}
			}
		}
	}
	.sl1 {
		background-color: @background_color_1;
		position: relative;
		overflow: hidden;
		.to-next-slide {
			bottom: 0;
			width: 100%;
			height: 75vh;
			background-image: url(../img/spector_sl1_bg.png);
			background-repeat: no-repeat;
			background-position: center top;
			position: absolute;
			overflow-x: hidden;
			z-index: 100;
			.to-next-slide-text {
				left: 50%;
				margin-left: 310px;
				margin-top: 190px;
				width: 706px;
				height: 140px;
				position: absolute;
				color: @color_1;
				cursor: pointer;
				.year {
					font-size: 12rem;
					line-height: 1;
					font-family: @font_family_2;
					font-weight: 900;
					font-style: normal;
					float: left;
				}
				.year_name {
					font-size: 7.2rem;
					line-height: 1;
					font-family: @font_family_2;
					font-weight: 900;
					font-style: normal;
					margin-top: -2px;
				}
				.year_name2 {
					font-size: 3rem;
					line-height: 1;
					font-family: @font_family_2;
					font-weight: 900;
					font-style: normal;
					margin-top: 9px;
					span {
						color: @color_3;
						margin-left: 10px;
						font-size: 25px;
					}
				}
				.year_name_next {
					font-size: 3rem;
					line-height: 1;
					font-family: @font_family_2;
					font-weight: 900;
					font-style: normal;
					margin-top: 9px;
					color: @color_3;
					float: left;
					margin-left: 11rem;
				}
			}
		}
		.void-elements-left-line {
			width: 530px;
			height: 103px;
			background-image: url(../img/cloud_pale1.svg);
			background-repeat: no-repeat;
			position: absolute;
			top: 170px;
			right: 0;
		}
		.void-elements-right-line {
			width: 509px;
			height: 93px;
			background-image: url(../img/cloud_green3.svg);
			background-repeat: no-repeat;
			position: absolute;
			top: 235px;
			right: 0;
		}
		.void-gr-line1 {
			width: 71px;
			height: 4px;
			background-image: url(../img/gr_line1.png);
			background-repeat: no-repeat;
			position: absolute;
			top: 220px;
			right: 53%;
			margin-right: -859px;
		}
		.void-gr-line2 {
			width: 71px;
			height: 4px;
			background-image: url(../img/gr_line2.png);
			background-repeat: no-repeat;
			position: absolute;
			top: 233px;
			right: 53%;
			margin-right: -841px;
		}
		.void-br-red-lines {
			width: 11px;
			height: 253px;
			position: absolute;
			top: 0;
			right: 50%;
			margin-right: 0;
		}
		.void-br-red-line1 {
			top: 645px;
			margin-right: 413px;
		}
		.void-br-red-line2 {
			top: 818px;
			margin-right: 439px;
			background-image: url(../img/zigzag_1.svg);
			background-repeat: no-repeat;
		}
		.void-br-dif-fig {
			width: 20px;
			height: 238px;
			background-image: url(../img/dif_fig.png);
			background-repeat: no-repeat;
			position: absolute;
			top: 612px;
			left: 50%;
			margin-left: -13px;
		}
	}
	.slide {
		.right-info-block.activated {
			transform: translate(-100%, 0px);
			-webkit-transition: -webkit-transform .5s;
			-moz-transition: -moz-transform .5s;
			transition: transform 0.5s;
		}
		.left-info-block.activated {
			transform: translate(100%, 0px);
			-webkit-transition: -webkit-transform .5s;
			-moz-transition: -moz-transform .5s;
			transition: transform 0.5s;
		}
	}
	.sl2 {
		position: relative;
		overflow-x: hidden;
		background: #efefef;
		.left-info-block {
			background: #e20c18;
			color: @color_1;
		}
		.right-info-block {
			background: #efefef;
			color: @color_red;
			.wrapper {
				.next_slide_text {
					.year {
						margin-right: 15px;
					}
				}
			}
		}
	}
	.sl3 {
		position: relative;
		overflow-x: hidden;
		background: #e20c18;
		.left-info-block {
			background: #efefef;
			color: @color_red;
			.wrapper {
				.prev_slide_text {
					.year {
						margin-right: 15px;
					}
				}
			}
		}
		.right-info-block {
			background: #e20c18;
			color: @color_1;
			.wrapper {
				.next_slide_text {
					.year {
						margin-right: 15px;
					}
				}
			}
		}
	}
	.sl4 {
		position: relative;
		overflow-x: hidden;
		background: #efefef;
		.left-info-block {
			background: #e20c18;
			color: @color_1;
			.wrapper {
				.prev_slide_text {
					.year {
						margin-right: 15px;
					}
				}
			}
		}
		.right-info-block {
			background: #efefef;
			color: @color_red;
			.wrapper {
				.next_slide_text {
					.year {
						margin-right: 15px;
					}
				}
			}
		}
	}
	.sl5 {
		position: relative;
		overflow-x: hidden;
		background: #e20c18;
		.left-info-block {
			background: #efefef;
			color: @color_red;
			.wrapper {
				.prev_slide_text {
					.year {
						margin-right: 15px;
					}
				}
			}
		}
		.right-info-block {
			background: #e20c18;
			color: @color_1;
			.wrapper {
				.next_slide_text {
					.year {
						margin-right: 15px;
					}
				}
			}
		}
	}
	.sl6 {
		position: relative;
		overflow-x: hidden;
		background: #efefef;
		.left-info-block {
			background: #e20c18;
			color: @color_1;
			.wrapper {
				.prev_slide_text {
					.year {
						margin-right: 15px;
					}
				}
			}
		}
		.right-info-block {
			background: #efefef;
			color: @color_red;
			.wrapper {
				.next_slide_text {
					.year {
						margin-right: 15px;
					}
					&:last-child {
						cursor: default;
					}
				}
			}
		}
	}
}
.tablet {
	.unit5 {
		.slide {
			.wrapper {
				p.header_undertext {
					padding: 0 20px;
					br {
						display: none;
					}
				}
			}
			.left-info-block {
				width: 65%;
			}
			.right-info-block {
				width: 35%;
			}
		}
	}

	.unit5 .sl1 .void-br-dif-fig {
		display: none;
	}
}
.tablet.portrait {
	.unit5 {
		.slide {
			.wrapper {
				font-size: 14px;

				p.header_undertext {
					width: auto;
					margin-top: 1.2vh;
					font-size: 1.4em;
					line-height: 1.15em;
					padding: 0 10px;
					br {
						display: none;
					}
				}
			}
			.left-info-block {
				width: 100%;
				min-width: initial;
				height: auto;
				padding-bottom: 70px;
			}
			.right-info-block {
				width: 100%;
				min-width: initial;
				height: auto;
				.wrapper {
					.next_slide_text {
						float: right;
						width: 365px;
					}
				}
			}
		}
	}
}
.mobile {
	.unit5 {
		.slide {
			.wrapper {
				font-size: 14px;

				h1 {
					font-size: 3.2rem;
					padding: 0 20px;
				}
				p.header_undertext {
					width: auto;
					margin-top: 1.2vh;
					font-size: 1.4em;
					line-height: 1.15em;
					padding: 0 10px;
					br {
						display: none;
					}
				}
			}
			.left-info-block {
				width: 100%;
				min-width: initial;
				height: auto;
				padding-bottom: 0;
				.wrapper {
					margin: 4vh 0 0;
					height: 71vh;
					.prev_slide_text {
						.year {
							font-size: 52px;
						}
						.year_name2 {
							font-size: 14px;
						}
					}
					.prev_slide_info_text {
						margin-top: 3vh;
					}
				}
			}
			.right-info-block {
				width: 100%;
				min-width: initial;
				height: 25vh;
				.wrapper {
					margin: 0;
					height: 100%;
					.next_slide_text {
						width: auto;
						position: absolute;
						right: 20px;
						bottom: 3vh;
						.year {
							font-size: 52px;
						}
						.year_name2 {
							font-size: 14px;
							span {
								font-size: 12px;
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
		.sl1 {
			.to-next-slide {
				height: 25vh;
				background: #e20c18;
				min-height: 40%;
				display: table;
				.to-next-slide-text {
					left: 20px;
					display: table-cell;
					vertical-align: middle;
					position: relative;
					.year {
						font-size: 52px;
					}
					.year_name {
						font-size: 28px;
					}
					.year_name2 {
						font-size: 14px;
						span {
							margin-left: 3px;
							font-size: 10px;
						}
					}
				}
			}
		}
	}
	.unit5 .sl1 .to-next-slide .to-next-slide-text .year_name_next {
		font-size: 2rem;
		margin-top: 4px;
		margin-left: 1.1rem;
	}
	.unit5 .slide .left-info-block .wrapper .prev_slide_text .year_big {
		font-size: 7rem;
	}

	.unit5 .slide .left-info-block .wrapper .prev_slide_info_text p {
		font-size: 1.6rem;
		line-height: 1.6 !important;
	}

	.unit5 .slide .right-info-block .wrapper .next_slide_text .year_big {
		font-size: 7rem;
	}

	.unit5 .sl1 .void-br-dif-fig {
		display: none;
	}
}
@media screen and (max-width:1900px) {
	.unit5 {
		.sl1 {
			.to-next-slide {
				bottom: 0;
				width: 100%;
				height: 75vh;
				background-image: url(../img/spector_sl1_bg.png);
				background-repeat: no-repeat;
				background-position: right top;
				position: absolute;
				overflow-x: hidden;
				.to-next-slide-text {
					right: 0;
					margin-left: 0;
					margin-right: 0;
					margin-top: 180px;
					left: initial;
				}
			}
		}
	}
}
@media screen and (min-width:1430px) and (max-width:1530px) {
	.unit5 {
		.slide {
			.left-info-block {
				width: 71%;
				.wrapper {
					width: 815px;
					.prev_slide_text {
						.year {
							font-size: 80px;
						}
						.year_name {
							font-size: 38px;
						}
						.year_name2 {
							font-size: 24px;
						}
					}
					.prev_slide_info_text {
						margin-top: 5vh;
						font-size: 1.8rem;
						font-family: @font_family_2;
						font-weight: 100;
						p {
							line-height: 1.8;
						}
					}
				}
			}
			.right-info-block {
				width: 29%;
				min-width: 405px;
				.wrapper {
					width: 405px;
					.next_slide_text {
						width: 100%;
						.year {
							font-size: 80px;
						}
						.year_name {
							font-size: 38px;
						}
						.year_name2 {
							font-size: 24px;
							span {
								font-size: 19px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width:1181px) and (max-width:1429px) {
	.unit5 {
		.slide {
			.wrapper {
				width: 100%;
				h1 {
					font-size: 80px;
				}
				p.header_undertext {
					font-size: 17px;
				}
			}
			.left-info-block {
				width: 65%;
				min-width: initial;
				.wrapper {
					width: 100%;
					margin: 100px 0 0;
					.prev_slide_text {
						padding-left: 20px;
						.year {
							font-size: 80px;
						}
						.year_name {
							font-size: 38px;
						}
						.year_name2 {
							font-size: 24px;
						}
					}
					.prev_slide_info_text {
						margin-top: 5vh;
						font-size: 1.8rem;
						font-family: @font_family_2;
						font-weight: 100;
						padding: 0 20px;
						p {
							line-height: 1.8;
						}
					}
				}
			}
			.right-info-block {
				width: 35%;
				min-width: 405px;
				.wrapper {
					width: 100%;
					margin-top: 100px;
					.next_slide_text {
						width: 100%;
						.year {
							font-size: 80px;
						}
						.year_name {
							font-size: 38px;
						}
						.year_name2 {
							font-size: 24px;
							span {
								font-size: 19px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width:1180px) {
	.unit5 {
		.slide {
			.wrapper {
				width: 100%;
				h1 {
					font-size: 80px;
				}
				p.header_undertext {
					font-size: 17px;
				}
			}
			.left-info-block {
				width: 70%;
				min-width: initial;
				.wrapper {
					width: 100%;
					margin: 100px 0 0;
					.prev_slide_text {
						padding-left: 20px;
						.year {
							font-size: 60px;
						}
						.year_name {
							font-size: 26px;
						}
						.year_name2 {
							font-size: 20px;
						}
					}
					.prev_slide_info_text {
						margin-top: 5vh;
						font-size: 1.8rem;
						font-family: @font_family_2;
						font-weight: 100;
						padding: 0 20px;
						p {
							line-height: 1.8;
						}
					}
				}
			}
			.right-info-block {
				width: 30%;
				min-width: initial;
				.wrapper {
					width: 100%;
					margin-top: 100px;
					.next_slide_text {
						width: 100%;
						.year {
							font-size: 60px;
						}
						.year_name {
							font-size: 26px;
						}
						.year_name2 {
							font-size: 20px;
							span {
								font-size: 16px;
							}
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width:1000px) {
	.unit5 {
		.sl1 {
			.to-next-slide {
				.to-next-slide-text {
					right: 0;
					margin-left: 0;
					margin-right: 0;
					left: initial;
				}
			}
		}
	}
}

.desktop, .tablet, .mobile {
  .void-elements-left-line {
    -webkit-animation: cloud1 linear 120s infinite;
    animation: cloud1 linear 120s infinite;
  }
  .void-elements-right-line {
    -webkit-animation: cloud2 linear 150s infinite;
    animation: cloud2 linear 150s infinite;
  }
  .void-gr-line1 {
    -webkit-animation: line ease 10s infinite;
    animation: line ease 10s infinite;
  }
  .void-gr-line2 {
    -webkit-animation: line2 ease 10s infinite;
    animation: line2 ease 10s infinite;
  }
}

@media only screen and (min-device-width : 1024px) and (orientation : landscape) {
	.mobile .unit5 .slide .wrapper p.header_undertext {
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		font-size: 2rem;
		line-height: 1.4em;
		margin-top: 40px;
		font-weight: normal;
	}
}

@media only screen and (min-device-height : 1024px) and (orientation : portrait) {
	.mobile .unit5 .slide .wrapper p.header_undertext {
		width: auto;
		margin-top: 1.2vh;
		font-size: 1.4em;
		line-height: 1.15em;
		padding: 0 10px;
	}
}